.card{
    width: 420px;
    height: 250px;
    background-color: #EFBC9B;
    display: flex;
    border-radius: 10px;
    position: relative;
    img{
        height: 250px;
        width: 40%;
        object-fit: cover;
        border-radius: 10px 0 0  10px;
    }
    &-body{
        width: 60%;
        padding-left: 10px;
       h4{
          text-align: center;
          font-size: 18px;
          margin: 10px 0 0 10px;
          text-transform: uppercase;   
        }
    }
    .sil{
        position: absolute;
        height: 250px;
        border-radius: 10px 0 0 10px;
        border: none;
        width: 15px;
        background-color: hsla(326, 22%, 51%, 0.84);
        transition: .7s;
        cursor: pointer;
        opacity: 0;
        &:hover{
            width: 40%;
            opacity: 1;
        }
    }
    .edit{
        position: absolute;
        height: 250px;
        right: 0;
        border-radius: 0 10px 10px 0;
        border: none;
        width: 15px;
        background-color:hsla(0, 15%, 55%, 0.828);
        transition: .7s;
        cursor: pointer;
        opacity: 0;
        &:hover{
            width: 60%;
            opacity: 1;
        }
    }
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    input{
        width: 80%;
        padding: 10px ;
        border-radius: 5px;
    }
}