nav{
    background-color: #EFBC9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #334353;
    .brand{
       
        display: flex;
        align-items: center;
        font-size: 22px;
        img{
           width: 100px;
           margin-right: 10px;
        }
    }
    ul{
        font-size: 16px;
        display: flex;
        gap: 50px;
        li{
        list-style: none;
        cursor: pointer;
        transition: .6s;
        &:hover{
            color:#D6DAC8 ;
            text-decoration: underline;
            transform: scale(1.2);
        }
        }
    }
}

